.modal-overlay {
  position: fixed;
  /* Fixed position to cover the entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it's on top of other content */
}

.modal-content {
  background: rgb(252, 237, 255);
  padding: 20px;
  border-radius: 8px;
  max-width: 50rem;
  margin-top: 100px;
  height: fit-content;
  width: 80%;
  position: relative;
  overflow: auto;
  padding: 2em;
}

/* .modal-text {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  height: 200px;
  width: 200px;
} */

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .modal-content {
    background: rgb(252, 237, 255);
    font-size: small;
    border-radius: 8px;
    max-width: 50rem;
    height: fit-content;
    width: 90%;
    position: relative;
    overflow: auto;
    padding: 2em;
  }
}

@media screen and (max-width: 600px) {
  .modal-content {
    background: rgb(252, 237, 255);
    font-size: x-small;
    border-radius: 8px;
    max-width: 50rem;
    height: fit-content;
    width: 90%;
    position: relative;
    overflow: auto;
    padding: 2em;
  }
}