.heading {
    margin-top: 4em;
    padding: 5vh 10vh;
    font-size: 4vh;
    color: #ffffff;
}

body {
    height: 100vw;
}

.containerProject {
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.silkProject {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subContainerProject {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: start;
    justify-content: start;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1500px) {

    .containerProject {
        /* height: auto; */
        height: calc(100vh - 80px);
        overflow: auto;
    }

    .subContainerProject {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.8rem;
        margin-top: 3em;
        padding-bottom: 6em;
        overflow: auto;
    }
}