body {
    background-color: #f4f866;
}

.container {
    overflow: hidden;
    background-color: #f4f866;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.subContainer {
    background-color: #161721;
    background-clip: content-box;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
}