body {
    height: calc(100vh - 100px);
}

.headingContact {
    margin-top: 4em;
    padding: 5vh 10vh;
    font-size: 4vh;
    color: #ffffff;
}

.containerContact {
    overflow: hidden;
    position: relative;
    background-image: url('https://cdn.cosmos.so/0d3abf47-ebb3-4dfb-aa79-0ce908678a71?format=jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.silkContact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subContainerContact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr;
}

.content {
    margin-top: 4em;
}

.contactImage {
    background-size: cover;
    border: 3px rgb(0, 0, 0) solid;
    outline: 5px solid #ff89d4;
    outline-offset: 4px;
    padding: 0;
    margin: 6em 6em 2em 3em;
    width: 30vw;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontalLine {
    padding: 2vh 0;
    font-size: 1.2rem;
    margin: 0 10vh;
    border-bottom: rgb(0, 0, 0) solid 1px;
    color: #000000;
}

@media screen and (max-width: 1024px) {

    .subContainerContact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        height: 100%;
        gap: 1rem;
        padding-bottom: 6em;
        overflow: auto;
    }

    .headingContact {
        margin-left: 2rem;
        padding: 0;
        width: 75%;
    }

    .horizontalLine {
        margin-left: 2rem;
        padding: 0;
        width: 75%;
    }

    .contactImage {
        margin: 2em;
        width: 85%;
    }

}