body {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    cursor: none;
}

.navbar {
    position: fixed;
    z-index: 10;
    color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    justify-content: end;
    align-items: start;
    width: 100vw;
    cursor: none;
}

.navlinks {
    display: none;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .navlinks {
        display: flex;
        justify-content: center;
        gap: 2rem;
        cursor: none;
    }

    .navbar {
        position: fixed;
        z-index: 10;
        background: transparent;
        color: rgb(255, 255, 255);
        display: flex;
        padding: 40px;
        justify-content: center;
        width: 100%;
        cursor: none;
    }

    #hamburger {
        display: none;
    }
}

.navactive {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10;
        /* Shown when toggled */
}