.containerboxNav {
    position: relative;
    /* Establishes a positioning context for children */
    width: 100%;
    line-height: 0.85;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .containerboxNav {
        position: relative;
        /* Establishes a positioning context for children */
        width: 100%;
        line-height: 0.85;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .textBoxNav {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .textBoxAnimatedNav {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}

.textBoxNav {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.textBoxAnimatedNav {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}