* {
    box-sizing: border-box;
}

body {
    background: #07030d;
    overflow: hidden;
    cursor: none !important;
    height: 100vh;
    margin: 0;
    padding: 0;
}

a, button {
    cursor: none;
}

.countUp {
    background: #07030d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ff89d4;
    font-family: 'Pixelify Sans', sans-serif;
}

.slideIn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #07030d;
    transform-origin: bottom;
    z-index: 9999;
}

.slideOut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #07030d;
    transform-origin: top;
    z-index: 9999;
}
