body {
    background: #2b292f;
    overflow: hidden;
    cursor: none !important;
    height: calc(100vh);
    margin: 0;
    padding: 0;
}

.countUp {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}


.slideIn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2b292f;
    transform-origin: bottom;
    z-index: 9999;
}

.slideOut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2b292f;
    transform-origin: top;
    z-index: 9999;
}

.silk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
    cursor: none;
}





